.body {
    margin: 0;
}
.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.esquerda h1{
    color: white;  
    font-size: 40px;
}
.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; 
    background: #dfece6;
    box-shadow: 0 10px 40px     rgba(0, 0, 0, 0.281);
    border-radius: 15px;

}
.card h1{
    color:rgb(0, 0, 0);
    font-weight: 800;
    margin: 0;
}
.campo-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
}
.campo-texto input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:  #2d2d29;
    color: rgba(0, 0, 0, 0.808);
    font-size: 12pt;
    box-shadow: 0 10px 40px     rgba(0, 0, 0, 0.281);
    outline: none;
    box-sizing: border-box;
}
.campo-texto input::placeholder{
    color: rgba(255, 255, 255, 0.658);
}
.campo-texto label{
    color: black(255, 255, 255, 0.808);
    font-weight: bold;
    margin-bottom: 10px;
}
.botao-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2d2d29;
    cursor: pointer;
    
}

.Menu{
    display: flex;
    align-items: center;
    background-color: #2d2d29;
    justify-content: space-around;
    height: 64px;
    position: fixed;
    top: 0;                  
    left: 0;                 
    width: 100%;             
    z-index: 1000;           
    padding: 9;
    height: 65px;
    border-bottom: solid 1px #215a6d;
}

.Carteira,.Sobre,.Login,.Contato{
    height: 25px;
    width: 25px;
}

footer {
    position: fixed;
    background-color: #2d2d29;
    color: white;
    text-align: center;
    padding: 6px;
    bottom: 0;
    width: 100%;
    height: 25px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 5px;
}

footer a {
    color: #ddd;
    
}

.Home{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: -17px;
}

#error-message {
    text-align: center;
    margin-top: 15px;
}

#error-message p {
    font-size: 14px;
    color: red;
}

#error-message button {
    background-color: #215a6d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#error-message button:hover {
    background-color: #67d9d9;
}




