.body {
    margin: 0;
}
.main-login{
    background:#00005c ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.esquerda h1{
    color: white;   
}
.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; 
    background: #00005f;
    box-shadow: 0 10px 40px     rgba(0, 0, 0, 0.281);

}
.card h1{
    color:white;
    font-weight: 800;
    margin: 0;
}
.campo-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    box-sizing: border-box;
}
.campo-texto input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:  rgb(50, 49, 136);
    color: rgba(255, 255, 255, 0.808);
    font-size: 12pt;
    box-shadow: 0 10px 40px     rgba(0, 0, 0, 0.281);
    outline: none;
    box-sizing: border-box;
}
.campo-texto input::placeholder{
    color: rgba(255, 255, 255, 0.658);
}
.campo-texto label{
    color: rgba(255, 255, 255, 0.808);
    font-weight: bold;
    margin-bottom: 10px;
}
.botao-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000050;
    cursor: pointer;
    
}

